<% include partials/header %>
<form action="/login" method="POST" >
    <input type="text" placeholder="Username" name="username" />
    <input type="password" placeholder="**********" name="password" />
    <input type="submit" value="login!" >
</form>
<% include partials/footer %>